@model IEnumerable<TMDT.Models.Products>

@{
    ViewData["Title"] = "Products";
}

<h1>Manager your Shop</h1>

<p>
    <a class="btn-outline-danger" style="text-decoration: none; border-radius: 5px; padding: 10px; border: 1px dashed gray;" asp-action="Create">New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.decrease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div style="width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
					@Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td>
                <div style="width: 100px;">
                    <img style="width: 100%; border-radius: 12px;" src="@Html.DisplayFor(modelItem => item.ImagePath)" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.decrease)%
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                <a class="btn-outline-danger" style="text-decoration: none; border-radius: 5px; padding: 10px; border: 1px dashed gray;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn-outline-danger" style="text-decoration: none; border-radius: 5px; padding: 10px; border: 1px dashed gray;" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn-outline-danger" style="text-decoration: none; border-radius: 5px; padding: 10px; border: 1px dashed gray;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
